<div class="header" style="margin-top:10px;">
    <img src="~/Content/logo2.png" /><span style="font-size:20px; color:green">Online Ordering System</span>
    <span style="float:right ; color:green; margin-top:15px; ">Free Food Ordering Online 24x7</span>
    <nav class="navbar navbar-default" role="navigation" style="background-color:#32CD32; color:black; margin-top:10px;" id="navi">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="font-size:25px; font-family:'Times New Roman'; font-style:italic;">
                    <li style="width:210px; text-align:center"><a href="/Admin/admin?name=1234">Orders</a></li>
                    <li style="width:210px; text-align:center"><a href="/Admin/Products?name=1234">Products</a></li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

