@{
    ViewBag.Title = "Index1";
}
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script>
    $(function () {
        alert("rehan");
        $("#r").html("rehan");
        alert("rehan");
    });
</script>
<h2 id="r">Index1</h2>
